SHOONYA_USER_ID="FN229754"
SHOONYA_PASSWORD="Sammy@007"
SHOONYA_TOTP_SECRET="YY776C6242FXKA33766WUPUZZ2S5H5QJ"
SHOONYA_VENDOR_CODE="FA_VC"
SHOONYA_API_KEY="82gdJd04q8J0L6Y1gIbq87n4gOboXD6bdb26YXd8LdBnBIBojAIkxGbO0qa1kIOX"
SHOONYA_IMEI=123456
